In [1]:
# importing pandas module for data frame
import pandas as pd

# loading dataset and storing in train variable
train= pd.read_csv("C:/Users/Anarchy/Documents/Data_Science/Air quality/AQI-and-Lat-Long-of-Countries.csv")
# display top 5 data
train.head()

,AQI Value,CO AQI Value,Ozone AQI Value,NO2 AQI Value,PM2.5 AQI Value,lat,lng
0,51,1,36,0,51,44.7444,44.2031
1,41,1,5,1,41,-5.2900,-44.4900
2,41,1,5,1,41,-11.2958,-41.9869
3,66,1,39,2,66,37.1667,15.1833
4,34,1,34,0,20,53.0167,20.8833

In [4]:
train.describe(include="all")

,AQI Value,CO AQI Value,Ozone AQI Value,NO2 AQI Value,PM2.5 AQI Value,lat,lng
count,16695.000000,16695.000000,16695.000000,16695.000000,16695.000000,16695.000000,16695.000000
mean,62.998682,1.342138,31.767355,3.819647,59.821324,30.267148,-3.944485
std,43.091971,2.371379,22.839343,5.880677,43.208298,22.947398,73.037148
min,7.000000,0.000000,0.000000,0.000000,0.000000,-54.801900,-171.750000
25%,38.500000,1.000000,20.000000,0.000000,34.000000,16.515450,-75.180000
50%,52.000000,1.000000,29.000000,2.000000,52.000000,38.815800,5.643100
75%,69.000000,1.000000,38.000000,5.000000,69.000000,46.683300,36.275000
max,500.000000,133.000000,222.000000,91.000000,500.000000,70.767000,178.017800

In [5]:
train.isnull().sum()

AQI Value          0
CO AQI Value       0
Ozone AQI Value    0
NO2 AQI Value      0
PM2.5 AQI Value    0
lat                0
lng                0
dtype: int64

In [6]:
train.dtypes

AQI Value            int64
CO AQI Value         int64
Ozone AQI Value      int64
NO2 AQI Value        int64
PM2.5 AQI Value      int64
lat                float64
lng                float64
dtype: object

In [8]:
# Importing PyCaret's regression module
from pycaret.regression import *

# Setup the environment with advanced options
regression_setup = setup(
    data=train,  # Replace 'train' with your actual dataset
    target='AQI Value',  # Specify your target column
    session_id=123,  # Seed for reproducibility
    normalize=True,  # Normalize numeric data
    polynomial_features=True,  # Add polynomial features to capture non-linear relationships
    remove_multicollinearity=True,  # Drop highly correlated features
    multicollinearity_threshold=0.95,  # Threshold for correlation filtering
)

# Compare models and select the best one
best_model = compare_models(sort='MAE')  # Sort by Mean Absolute Error (MAE)

In [9]:
tuned_et_model = tune_model(best_model, optimize='MAE')

Fitting 10 folds for each of 10 candidates, totalling 100 fits
Original model was better than the tuned model, hence it will be returned. NOTE: The display metrics are for the tuned model (not the original one).

In [10]:
ensemble_et_model = ensemble_model(tuned_et_model, method='Bagging')

In [12]:
# Finalize the original Extra Trees Regressor model
final_model = finalize_model(best_model)